/* ================= selector universal, para evitar cosos ================= */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* ================= BODY ================= */

body {
    background: url(../img/fondoFocas.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ================= HEADER ================= */

header {
    width: 100%;
    background-color: rgba(53, 69, 78, 0.75);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
}

.logo img {
    height: 80px;
    display: block;
}

/* -------------- NAV ---------------- */

.navegador {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.navegador a {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    transition: color 0.2s ease;
}

.navegador a:hover {
    color: #00c3ff;
}

/* ------------- DESPLEGABLE -------------- */

.desplegable {
    position: relative;
}

.botonDesplegable {
    color: white;
    font-size: 1.1rem;

    display: inline-flex;
    align-items: center;
    gap: 5px;

    cursor: pointer;
}

.botonDesplegable img {
    width: 0.8em;
    height: 0.8em;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.desplegable:hover .botonDesplegable img {
    transform: rotate(180deg);
}

.Submenu {
    position: absolute;
    top: 100%;
    left: 0;

    background: rgba(53, 69, 78, 0.95);
    padding: 10px 15px;
    min-width: 180px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    border-radius: 8px;
}

.desplegable:hover .Submenu {
    opacity: 1;
    visibility: visible;
}

/* --------------- MAIN --------------- */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    width: 90%;          
    max-width: 1700px;
    margin: 0 auto;
    color: white;
    background-color: rgba(53, 69, 78, 0.55);
}

main img {
    max-width: 100%;
    height: auto;
    
}


.titulo {
    display: flex;
    justify-content: center;
    padding: 4vw;
}

.titulo img {
    width: 100%;
    max-width: 1200px;
}
/*---------- texto introductorio---------------*
/* ------- Intro Proteccion ------ */

.intro {
    text-align: center;
    max-width: 1000px;
    margin: 20px auto 60px auto;
}

/*------filas-----*/

.fila {
    display: flex;
    gap: 40px;
    margin: 60px 0;
}

.fila img {
    max-width: 350px;
    border-radius: 10px;
}

.fila.invertida {
    flex-direction: row-reverse;
}

/* ------------- FOOTER ---------------- */

footer {
    width: 100%;
    background-color: rgba(53, 69, 78, 0.75);
    color: white;
    text-align: center;
    line-height: 3;
}

/* ------- Galeria ------ */

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
}

.galeria img {
    width: 30%;
    border-radius: 12px;
}

/* ------- Formulario ------ */

.formulario {
    max-width: 600px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input, select, textarea {
    padding: 8px;
    border-radius: 6px;
    border: none;
}

.botones {
    display: flex;
    gap: 15px;
}

.botones input {
    cursor: pointer;
}




/*haciendolo responsive */

/* ------------- RESPONSIVE ---------------- */

/* ------ MEDIA PC ------- */

@media (max-width: 1300px) {

    main {
        width: 95%;
    }

}

/* ------------------- MEDIA MOVIL -------------------- */

@media (max-width: 600px) {

    .fila {
        flex-direction: column;
        align-items: center; /*esto es todo el cambio aparte de la original, 
                            aun no entiendo como arregle el tema con la fila invertida, 
                            pense que esto fue lo que cambio pero no, aun viendo comohice eso*/  
        
    }

    .fila.invertida {
        flex-direction: column;
    }

    .lateral {
        display: none;
    }
    
    .botones {
        flex-direction: column;
    }
}

/* ------- MEDIA MOVIL GALERIA ------ */

@media (max-width: 600px) {

    .galeria img {
        width: 100%;
    }

}


/* ------- MEDIA PANTALLA GRANDE --------- */

@media (min-width: 1600px) {

    .fila img {
        max-width: 450px;
    }

}